@import './variables.scss';

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Compact Display Thin";
  src: url("../fonts/sf-compact-display-thin-58646eb43a785.otf");
}

@font-face {
  font-family: "SF Compact Display Medium";
  src: url("../fonts/sf-compact-display-medium-5864711817c30.otf");
}

html,
body {
  font-family: "SF Compact Display Thin";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  cursor: url("../assets/cursor.png"), auto;
}

body > div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
